<div class="petition-container-left">
        <div class="petition-div-item">
            <div class="logo">

                <img src="/logo.png" id="logo">
            </div>
            <h2 class="petition-font-big">How many times were you craving for some good old music like Justin Bieber </h2>
            <span class="petition-p">or Ariana Grande and you have been left with ridiculous, no-winning awards productions like Jersey Shore, Ex on the beach or Game of clones? Probably the answer is: not very often. That does not change a fact that  you can still contribute to our cause and make world better place. </span> 
        </div>

        <div class="petition-div-item">
            <h3 class="petition-font-left">Did you know that the generation of children growing up in the 1980's and 90's, generally called Generation Y</h3>
            <span class="petition-p">has often been referred to as the MTV Generation due to the profound and lasting effect of the television network?</span> 
        </div>

        <div class="petition-div-mini">
            <div class="petition-div-item a">
                <h3 class="petition-font">Fun fact</h3>
                <span class="petition-p">MTV dedicated 24 hours a day and 7 days a week to sharing music videos guided by on-screen personalities known as video jockeys. This continued for a little over three years, before the network changed to a new format in 1984.</span> 
            </div>

            <div class="petition-div-item b">
                <h3 class="petition-font">Non-fun fact</h3>
                <span class="petition-p">As much as we might want to forget it, Jersey Shore remains the most watched show on MTV. It also holds the record for highest number of viewers on an MTV channel with the third season episode "Free Snooki," which garnered nearly 8.9 million viewers in the United States.</span> 
            </div>
        </div>
    </div>