<div class="petition-container-left">
        <div class="petition-div-item">
            <h2 class="petition-font-big">Bring Bad Romance bad to The Fame Monster because it is so bad without it</h2>
            <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
        </div>

        <div class="petition-div-item">
            <h3 class="petition-font">SMALLER HEADLINE</h3>
            <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
        </div>

        <div class="petition-div-mini">
            <div class="petition-div-item a">
                <h3 class="petition-font">SMALLER HEADLINE</h3>
                <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
            </div>

            <div class="petition-div-item b">
                <h3 class="petition-font">SMALLER HEADLINE</h3>
                <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
            </div>
        </div>
    </div>