<footer>
    <div class="container">
        <div>   
            <a href="#" class="navbar-font">FAQ</a>
            <a href="#" class="navbar-font">ABOUT US</a>
            <a href="#" class="navbar-font">CONTACT</a>
            <a href="https://www.mtv.com/" target="_blank" class="navbar-font">MTV</a>
            
        </div>
    <div>
            <span class="navbar-font">Copyright 2020 pyotreq-tech</span>
        </div>
    </div>
</footer>