<footer>
    <div class="container">
        <div>   
            <a href="/" class="navbar-font">FAQ</a>
            <a href="/" class="navbar-font">ABOUT US</a>
            <a href="/" class="navbar-font">CONTACT</a>
            <a href="https://www.spiced-academy.com/en" target="_blank" class="navbar-font">SPICED ACADEMY</a></div>
        <div>
            <span class="navbar-font">Copyright 2020 pyotreq-tech</span>
        </div>
    </div>
</footer>