<navbar>
    <div class="container">
        <div>

            <a href="/petition" id="logo">
                <span><i class="fas fa-music"></i> More Music Videos In MTV  <i class="fas fa-music"></i> </span>
            </a>
        </div>
        <div>
            {{#if isLoggedIn}}
            <span class="navbar-font">Welcome {{user.firstName}}</span>
            <a href="/profile/edit/" class="navbar-font"><i class="fas fa-user-edit"> </i></a>
            <a href="/petition" class="navbar-font">Petition</a>
            {{#if user.signatureId}}
            <a href="/signers" class="navbar-font">Signatories</a>
            {{/if}}
            <a href="/logout" class="navbar-font"> <i class="fas fa-sign-out-alt"></i></a>
            {{else}}
            <a href="/login" class="navbar-font">Login</a>
            <a href="/register" class="navbar-font">Register</a>
            {{/if}}
        </div>
    </div>
        {{#if empty}}
    <div class="error">
        <h1 class="error-font">{{empty}}</h1>
    </div>
        {{/if}}
        {{#if good}}
    <div class="good">
        <h1 class="error-font">{{good}}</h1>
    </div>
        {{/if}}
</navbar>