<div class="login-container">
    <div class="login-div">
    
        

        {{!-- {{#if empty}}
        <h1>Oops, something went wrong, please try again later</h1>
        {{/if}} --}}

        <form method="POST" class="form form-font">
        <h1>Sign up</h1>

        <label for ="emailAddress">Email Address</label>
        <input name="emailAddress" class="input-login"  type="email">
        <label for ="password">Password</label>
        <input name="password" type="password" class="input-login">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button class="button-login">Login</button>

        <span>Don't have an account yet? <br><a href="/register" class="link-login">Register now</a></span>


        </form>
    </div>
    <div class="login-text">
        <p class="login-content-white">If you wish MTV could play a little more music videos and a little less ridiculous shows please support our cause and sign the petition!
        </p>
    </div>

</div>

