<div class="login-container">
    <div class="login-div">
    
        

        {{!-- {{#if empty}}
        <h1>Oops, something went wrong, please try again later</h1>
        {{/if}} --}}

        <form method="POST" class="form form-font">
        <h1>Sign up</h1>

        <label for ="emailAddress" type="email">Email Address</label>
        <input name="emailAddress" class="input-login">
        <label for ="password">Password</label>
        <input name="password" type="password" class="input-login">

        <button class="button-login">Login</button>

        <span>Don't have an account yet? <br><a href="/register" class="link-login">Register now</a></span>


        </form>
    </div>
    <div class="login-text">
        <p class="login-content"><em>“Do not follow where the path may lead. Go instead where there is no path and leave a trail.”</em>
            <br><br>– Ralph Waldo Emerson <br><br>
            Help us make all dreams become true by signing the petition!

</p>
    </div>

</div>

