<div class="petition-container">

    <div class="petition-container-left">
        <div class="petition-div-item">
            <h2 class="petition-font-big">Bring Bad Romance bad to The Fame Monster because it is so bad without it</h2>
            <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
        </div>

        <div class="petition-div-item">
            <h3 class="petition-font">SMALLER HEADLINE</h3>
            <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
        </div>

        <div class="petition-div-mini">
            <div class="petition-div-item a">
                <h3 class="petition-font">SMALLER HEADLINE</h3>
                <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
            </div>

            <div class="petition-div-item b">
                <h3 class="petition-font">SMALLER HEADLINE</h3>
                <span class="petition-p">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span> 
            </div>
        </div>
    </div>

    <div class="petition-container-right">
        <div class="petition-div">
                
                <h2 class="petition-font">Make the dreams come true.</h2>

                <span class="petition-p">Sign our petition to make all the wishes in this universe to come true! Once and for good!</span>
                <canvas id="canvas" width="350px" height="100px"></canvas>

                <form method="POST">
                {{!-- Make the input fields receive only letters --}}
                <input name="signature" type="hidden">
                <div class="colors">
                    <div class="color border" id="BLACK"></div>
                    <div class="color" id="CHARTREUSE"></div>
                    <div class="color" id="DARKBLUE"></div>
                    <div class="color" id="FUCHSIA"></div>
                    <div class="color" id="SEAGREEN"></div>
                    <div class="color" id="MEDIUMAQUAMARINE"></div>
                    <div class="color" id="FIREBRICK"></div>
                    <div class="color" id="GOLDENROD"></div>
                    <div class="brush" id="small"></div>
                    <div class="brush" id="medium"></div>
                    <div class="brush" id="large"></div>
                    <i class="fas fa-eraser" id="clean"></i>
                </div>
                <button class="button-sign-petition">Sign petition</button>
                </form>

        </div>
    </div>
   
</div>
