<div class="petition-container">
    <div class="petition-div">
        
        <h1 class="font-black-signed">Make the dreams come true.</h1>

        <p class="login-content">Sign our petition to make all the wishes in this universe to come true! Once and for good!</p>

        <form method="POST">
        {{!-- Make the input fields receive only letters --}}
        <input name="signature" type="hidden">
        <canvas id="canvas" width="400" height="100"></canvas>
        <div class="colors">
            <div class="color border" id="BLACK"></div>
            <div class="color" id="CHARTREUSE"></div>
            <div class="color" id="DARKBLUE"></div>
            <div class="color" id="FUCHSIA"></div>
            <div class="color" id="SEAGREEN"></div>
            <div class="color" id="MEDIUMAQUAMARINE"></div>
            <div class="color" id="FIREBRICK"></div>
            <div class="color" id="GOLDENROD"></div>
            <div class="brush" id="small"></div>
            <div class="brush" id="medium"></div>
            <div class="brush" id="large"></div>
            <i class="fas fa-eraser" id="clean"></i>
        </div>
        <button class="button-sign-petition">Sign petition</button>
        </form>

    </div>
</div>
