<div class="petition-container">
    <div class="petition-div">
        
        <h1 class="font-black-signed">Make the dreams come true.</h1>

        <p class="login-content">Sign our petition to make all the wishes in this universe to come true! Once and for good!</p>

        <form method="POST">
        {{!-- Make the input fields receive only letters --}}
        <input name="signature" type="hidden">
        <canvas id="canvas" width="400" height="100"></canvas>
        <button class="button-sign-petition">Sign petition</button>
        </form>

    </div>
</div>
