
<div class="petition-container">
    <div class="petition-div">
        
        <form method="POST" class="form-register form-font-black">

    <label for ="password">Confirm your password:</label>
    <input name="password" type="password" class="input-register">
  
    <button class="button-login">Delete</button>
</form>

</div></div>