<div class="edit-user-container">
    <form method="POST">
        <div class="edit-separator no-margin">
            <span class="navbar-font">Please tell us something more about yourself</span>
        </div>
        <div class="edit-profile-div">
            <label for ="age"  class="edit-left"><span class="delete-user-font">Age</span></label>
            <input name="age" class="edit-right">

        </div>
        <div class="edit-profile-div">
            <label for ="city" class="edit-left"><span class="delete-user-font">City</span></label>
            <input name="city" class="edit-right">
        </div>
        <div class="edit-profile-div">
            <label for ="homePage" class="edit-left"><span class="delete-user-font">Homepage</span></label>
            <input name="homePage" class="edit-right">   
        </div>
        <div class="edit-separator-button">
            <input type="submit" class="edit-left navbar-font" value="CONTINUE" id="update-button">
        </div>

    </form>

</div>

{{!-- 

<div class="petition-container">
    <div class="petition-div">

<h1 class="font-black-signed">Now please tell us just a little bit more about yourself.</h1>

<form method="POST" class="form-register form-font-black">

<label for ="age">Age</label>
<input name="age" class="input-register">
<label for ="city">City</label>
<input name="city" class="input-register">
<label for ="homePage">Homepage</label>
<input name="homePage" class="input-register">

<button class="button-login">Continue</button>
</form>

</div> --}}

</div>