Now please tell us just a little bit more about yourself.

<form method="POST">

<label for ="age">Age</label>
<input name="age">
<label for ="city">City</label>
<input name="city">
<label for ="homePage">Homepage</label>
<input name="homePage">

<button class="button-login">Continue</button>
</form>