
<div class="petition-container">
    <div class="petition-div">

<h1 class="font-black-signed">Now please tell us just a little bit more about yourself.</h1>

<form method="POST" class="form-register form-font-black">

<label for ="age">Age</label>
<input name="age" class="input-register">
<label for ="city">City</label>
<input name="city" class="input-register">
<label for ="homePage">Homepage</label>
<input name="homePage" class="input-register">

<button class="button-login">Continue</button>
</form>

</div></div>