<div class="edit-user-container">


    <form method="POST">

    <div class="edit-separator password-delete margin-top">
            <span class="navbar-font">Confirm password:</span>
        </div>
        <div class="password-delete">
            <input name="password" type="password" class="edit-right width">

        </div>


        <div class="edit-separator-button">
            <input type="submit" class="edit-left navbar-font" value="DELETE ACCOUNT" id="update-button">
        </div>


    </form>

</div>