<div class="register-container">
    <div class="register-div">


        <form method="POST" class="form-register form-font-black">
        <h1>Get started
        </h1>



        <label for ="firstName">First Name</label>
        <input name="firstName" class="input-register">
        <label for ="lastName">Last Name</label>
        <input name="lastName" class="input-register">
        <label for ="emailAddress">Email Address</label>
        <input name="emailAddress" class="input-register" type="email">
        <label for ="password">Password</label>
        <input name="password" type="password" class="input-register">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button-login">Submit</button>

        <span>Already a member? <br><a href="/login" class="link-login">Sign in now</a></span>
        </form>

    </div>
        <div class="register-text">
        <p class="login-content">If you wish MTV could play a little more music videos and a little less ridiculous shows please support our cause and sign the petition!
        </p>
    </div>
</div>