<h1>A world without Crocs is within reach but we won't get there without your support.
    Join our campaign today!.
</h1>

{{#if empty}}
<h1>Oops, something went wrong, please fill all the fields</h1>
{{/if}}


<form method="POST">

<label for ="firstName">First Name</label>
<input name="firstName">
<label for ="lastName">Last Name</label>
<input name="lastName">
<label for ="emailAddress" type="email">Email Address</label>
<input name="emailAddress">
<label for ="password">Password</label>
<input name="password" type="password">

<button>Submit</button>

</form>

<p>If you are already a member, please <a href="/login">log in</a> .</p>