<div class="register-container">
    <div class="register-div">


        <form method="POST" class="form-register form-font-black">
        <h1>Get started
        </h1>



        <label for ="firstName">First Name</label>
        <input name="firstName" class="input-register">
        <label for ="lastName">Last Name</label>
        <input name="lastName" class="input-register">
        <label for ="emailAddress" type="email">Email Address</label>
        <input name="emailAddress" class="input-register">
        <label for ="password">Password</label>
        <input name="password" type="password" class="input-register">

        <button class="button-login">Submit</button>

        <span>Already a member? <br><a href="/login" class="link-login">Sign up now</a></span>
        </form>

    </div>
</div>