<div class="signed-container">
    <div class="signed-div">
        
        <h1 class="font-black-signed">Thank you for signing our petition.</h1>

        <img src="{{imgUrl}}">
        <p class="login-content">Great job! If we collect enough signatures, all the dreams in the world will became true. What are you waiting for? Make a wish now! It will soon become real!</p>

        <a href="/signers" class="link-login form-font">See all {{rows.[0].count}} other dreamers.</a>

        {{!-- Handlebars escapes and prevents unwanted scripts from running --}}

   </div>
</div>