<p>We understand demand that the disgusting practice of wearing Crocs in public places bablabla</p>

{{#rows}}
<div>
{{first}} {{last}}
{{#if ../user.admin}}
<form id="delete-form" action="/signers/{{id}}?_method=DELETE" method="POST"><button id="deleteButton">X</button></form>
{{/if}}
</div>
{{/rows}}