<h1>Thank you for signing our petition</h1>

<img src="{{imgUrl}}">
<p>to make the wearing of Crocs in public places a criminal act in every jurisdiction</p>

<a href="/signers">See all {{rows.[0].count}} signers</a>