body {
    box-sizing: border-box;
    margin: 0;
    /* min-height: 100vh; */
}

canvas {
    border: 1px black solid;
    display: block;
}
button {
    display: block;
}

form {
    display: inline-block;
}

#deleteButton {
    background-color: firebrick;
}

navbar > div.container {
    display: flex;
    /* width: 100%; */
    height: 70px;
    background-color: midnightblue;
    align-items: center;
    flex-direction: row;
    padding: 0 150px;
    justify-content: space-between;
}

footer > div.container {
    display: flex;
    /* width: 100%; */
    height: 40px;
    background-color: midnightblue;
    align-items: center;
    flex-direction: row;
    padding: 0 150px;
    justify-content: space-between;
}

.login-container {
    background-image: url("wallpaper1.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
}
.login-div {
    margin: 80px 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.signers-container {
    background-image: url("wallpaper3.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.signers-div {
    margin: 30px 150px;
    width: 550px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    align-items: center;
    justify-content: top;
    /* height: 600px; */
}
.editprofile-div {
    margin: 30px 150px;
    width: 550px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    align-items: center;
    justify-content: top;
    /* height: 600px; */
}

.signed-container {
    background-image: url("wallpaper3.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}
.signed-div {
    background-color: rgba(255, 255, 255, 0.7);
    width: 550px;
    margin: 30px 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.petition-container {
    padding: 30px 150px;
    background-image: url("wallpaper3.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}
.edit-user-container {
    padding: 0px 150px;
    background-image: url("wallpaper3.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.edit-profile-div {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.edit-left {
    background-color: midnightblue;
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    width: 25%;
    height: 50px;
}

#update-button {
    height: 100%;
    border: none;
}

.edit-right {
    width: 75%;
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    padding-left: 30px;
}
.edit-separator {
    width: 100%;
    background-color: midnightblue;
    height: 30px;
    margin-top: 30px;
    text-align: center;
}

.petition-container-left {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 65%;
}

.petition-container-right {
    width: 35%;
}
.petition-p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

/* .petition-div {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
} */

.petition-div {
    background-color: rgba(255, 255, 255, 0.7);
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
}

.petition-div-item {
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 30px; */
    width: 100%;
    margin-bottom: 30px;
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a {
    margin-right: 15px;
}

.b {
    margin-left: 15px;
}

.petition-div-mini {
    display: flex;
    flex-direction: row;
}

.login-text {
    margin-top: 130px;
    margin-left: 150px;
    /* margin-right: 60px; */
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    /* height: 100%; */
}

.login-content {
    font-weight: 400;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 50px;
}
.signers-content {
    font-weight: 400;
    font-size: 1.8em;
    font-family: "Roboto", sans-serif;
    color: black;
    padding: 30px;
    margin: 15;
}

.register-container {
    background-image: url("wallpaper2.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.register-div {
    margin: 80px 150px;
    width: 450px;
    /* display: flex;
    flex-direction: column; */
    /* height: 1200px; */
}

#logo {
    font-weight: 900;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    text-decoration: none;
}

.navbar-font {
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 30px;
}
.edit-font {
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.5em;
}
.petition-font {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 30px;
}
.petition-font-big {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 2.5em;
    margin-left: 30px;
}

.form {
    border: 1px solid black;
    padding: 80px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-register {
    border: 1px solid black;
    padding: 25px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-font {
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 100;
}
.form-font-black {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 100;
}
.font-black-signed {
    font-family: "Roboto", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
}

.error {
    padding: 0 150px;
    background-color: #af2c3e;
}
.good {
    padding: 0 150px;
    background-color: green;
}

.error-font {
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    text-align: right;
    margin: 0;
    padding: 5px 0;
}

.input-login {
    margin-top: 5px;
    margin-bottom: 25px;
    width: 200px;
}
.input-register {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 200px;
}

.button-login {
    width: 100px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 100;
    margin-bottom: 50px;
}
.button-sign-petition {
    width: 100px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 100;
    margin: 30px auto;
}

.link-login {
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.list-item {
    font-family: "Roboto", sans-serif;

    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.4em;
}

h1 {
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}

p {
    text-align: center;
}

/* Color pick for the canvas: */

.colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
}

.brush {
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

#BLACK {
    background-color: BLACK;
}

#CHARTREUSE {
    background-color: CHARTREUSE;
}

#DARKBLUE {
    background-color: DARKBLUE;
}

#FUCHSIA {
    background-color: FUCHSIA;
}

#SEAGREEN {
    background-color: SEAGREEN;
}

#MEDIUMAQUAMARINE {
    background-color: MEDIUMAQUAMARINE;
}

#FIREBRICK {
    background-color: FIREBRICK;
}

#GOLDENROD {
    background-color: GOLDENROD;
}

#small {
    width: 3px;
    height: 3px;
}

#medium {
    width: 6px;
    height: 6px;
}

#large {
    width: 9px;
    height: 9px;
}

.selected {
    background-color: rgba(255, 255, 255, 0.7);
}

.border {
    border-radius: 0;
}

.delete-button-form {
    text-decoration: none;
}

input:focus {
    outline: none;
}
